name: CI - Build & Push Image

on:
  push:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t datagrokr-intern-devops:latest example2

      - name: Tag & Push
        run: |
          docker tag datagrokr-intern-devops:latest \
              633415687263.dkr.ecr.ap-south-1.amazonaws.com/datagrokr-intern-devops
          docker push \
              633415687263.dkr.ecr.ap-south-1.amazonaws.com/datagrokr-intern-devops
